<h1>Login</h1>
<p>to see the cats again</p>
<form class="form" action="/auth/login" method="POST">
    <label for="username">Username:
        <input autofocus type="text" name="username" value="{{userData.username}}"></label>
    <label for="password">Password:
        <input type="password" name="password"></label>
    <input class="submit" type="submit" value="Login">
</form>