<section id="userDetails">
    <div class="profile"><img src="{{#if userData.userImg}}{{userData.userImg}}{{else}}../static/profile.png{{/if}}"
            alt="User Image" width="200" height="200">
        <div class="flex">
            <p>Username: </p>
            <p style="font-weight: 900;">{{userData.username}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p style="font-weight: 900;">{{userData.email}}</p>
        </div>
        <div class="flex">
            <p>Given cats: </p>
            <p>
                {{#each userData.givenCats}}
                {{> givenCat}}
                {{/each}}
            </p>
        </div>
    </div>
</section>