<h1>Register</h1>
<p>to see what you can do</p>
<form action="/auth/register" method="POST">
    <label for="username">Username:
        <input type="text" name="username" value="{{userData.username}}"></label>
    <label for="password">Password:
        <input type="password" name="password"></label>
    <label for="rePass">Repeat password:
        <input type="password" name="rePass"></label>
    <input class="submit" type="submit" value="Register">
</form>