<div class="main-card">
    <div class="cat-img">
        <img src="{{imageUrl}}" alt="Cat image" width="400" height="400">
    </div>
    <div class="name-details">
        <h4>{{name}}</h4>
        <div>
            <a href="/cat/details/{{_id}}">Details</a>
        </div>
    </div>
</div>