<div>
    <div>
        <img src="{{imageUrl}}" alt="Cat image" width="400">
    </div>
    <div>
        <h4>{{name}}</h4>
        <div>
            <a href="/cat/details/{{_id}}">Details</a>
        </div>
    </div>
</div>