<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Cats home</title>
</head>

<body>
    <nav>
        {{#if user}}
        <span>Hello, <a class="profile-btn" href="/profile">{{user.username}}</a>!</span>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a class="special" href="/cat/create">Give Us a cat</a>
        <a href="/auth/logout">Logout</a>
        {{else}}
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Register</a>
        {{/if}}
    </nav>

    <main>
        {{#if errors}}
        <section class="error notifications">
            {{#each errors}}
            <p>{{this}}</p>
            {{/each}}
        </section>
        {{/if}}
        {{{body}}}
    </main>

</body>

<footer>Cats Ltd. 2021</footer>

</html>