<h2>This application was created for demonstration purposes.</h2>
<p>Back-end: NodeJS</p>
<p>Database: MongoDB</p>
<p>View engine: Handlebars</p>
<br>
<p>For authentication I used JWT wich is stored as cookie.</p>