<form action="/" method="GET">
  <input type="text" class="search" name="search" placeholder="Search..." value={{search}}>
  <input class="submit" type="submit" value="Search">
</form>
<h1>Home</h1>
<p>Here is the home of theese cats</p>

{{#each cats}}
{{> cat}}
{{else}}
<p>No cats in database. Give us one!</p>
{{/each}}